src/main/resources/wsdl/acntwg.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://localhost/springsoap/gen" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://localhost/springsoap/gen" targetNamespace="http://localhost/springsoap/gen">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://localhost/springsoap/gen">

    <xs:element name="getAcntwgRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="acntno" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getAcntwgResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="result" type="xs:double"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getAcntwgRequest">
    <wsdl:part element="tns:getAcntwgRequest" name="getAcntwgRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAcntwgResponse">
    <wsdl:part element="tns:getAcntwgResponse" name="getAcntwgResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="AcntwgPort">
    <wsdl:operation name="getAcntwg">
      <wsdl:input message="tns:getAcntwgRequest" name="getAcntwgRequest">
    </wsdl:input>
      <wsdl:output message="tns:getAcntwgResponse" name="getAcntwgResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AcntwgPortSoap11" type="tns:AcntwgPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getAcntwg">
      <soap:operation soapAction=""/>
      <wsdl:input name="getAcntwgRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getAcntwgResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AcntwgPortService">
    <wsdl:port binding="tns:AcntwgPortSoap11" name="AcntwgPortSoap11">
      <soap:address location="http://localhost:8043/ws"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>